# Ignore the frontend's build output
recapbrain-frontend/dist/

# Ignore backend's build or compiled output
recapbrain-backend/dist/

# Ignore env files
*.env

# Ignore node_modules or virtualenvs if present
recapbrain-frontend/node_modules/
recapbrain-backend/node_modules/

prism-backend/node_modules/
prism-backend/dist/

*.venv/

# Logs
*.log

